<div class="row aboutMe">
    <div class="col-md-4 foto d-flex justify-content-center">
        <img src="../../../assets/Foto.jpg" alt="Moises Herrera" width="175" height="175" class="rounded-circle">
    </div>
</div>
<div class="row texto d-flex justify-content-between">
    <div class="col-md-4 d-flex justify-content-center">
        <p class="fs-2">Moises Herrera</p>
    </div>
    <div class="col-md-7 acerca-de">
        <div class="articulo">
            <div class="d-flex justify-content-between">
                <p class="fs-2">Acerca de</p>
                <a href="#">
                    <fa-icon [icon]="pen"></fa-icon>
                </a>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, maxime voluptate! 
                Aut beatae officiis, accusamus quisquam voluptas, inventore veritatis dolore eligendi 
                libero magni esse totam fugiat. Dolorem aliquid consectetur nemo?
            </p>
        </div>
    </div>
</div>
