.aboutMe {
    overflow: visible;
}

.foto {
    margin-top: -80px;
}

.foto img {
    vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2)
}

.acerca-de {
    overflow: visible;
	position: relative;
}

.acerca-de article {
    background: #ffff;
    padding: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,.35);
}