<div class="row aboutMe">
    <div class="col-3 foto d-flex justify-content-center">
        <img src="../../../assets/Foto.jpg" alt="Moises Herrera" width="175" height="175" class="rounded-circle">
    </div>
</div>
<div class="row texto">
    <div class="col-3 d-flex justify-content-center">
        <p class="fs-2">Moises Herrera</p>
    </div>
    <div class="col">
        <p class="fs-2">Acerca de</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, maxime voluptate! Aut beatae officiis, accusamus quisquam voluptas, inventore veritatis dolore eligendi libero magni esse totam fugiat. Dolorem aliquid consectetur nemo?</p>
    </div>
</div>
