<div>
    <div class="row py-3">
        <h2 class="text-center">Educacion</h2>
    </div>
    <div class="row" *ngFor="let item of educacion">
        <div class="col-2 d-flex justify-content-end">
            <fa-icon [icon]="book" size="2x" class="d-flex align-items-center"></fa-icon>
        </div>
        <div class="col mb-1">
            <p class="my-0 fs-5 fw-bold">{{item.titulo}}</p>
            <p class="my-0">{{item.instituto}}</p>
            <p class="my-0 fw-lighter">{{item.fecha}}</p>
            <div class="d-flex justify-content-end">
                <a href="#" class="icon">
                    <fa-icon [icon]="editar"></fa-icon>
                </a>
                <a href="#" class="icon">
                    <fa-icon [icon]="borrar"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
<app-add-button data-bs-toggle="modal" data-bs-target="#mi-modal"></app-add-button>
<div class="modal" id="mi-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <h5>Ingrese Datos:</h5>    
                <button class="btn btn-close" data-bs-dismiss="modal"></button>  
            </div>
            <div class="modal-body">  
                <app-add-education></app-add-education>
            </div>
        </div>
    </div>
</div>

