<div>
    <div class="row py-3">
        <h2 class="text-center">Habilidades</h2>
    </div>
    <div class="row d-flex  justify-content-around">
        <div class="col-md-4 col-6 d-flex justify-content-center my-2" *ngFor="let item of habilidades">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column justify-content-center hab">
                    <fa-icon [icon]=item.icon size="3x" class="text-center"></fa-icon>
                    <p class="text-center">{{item.habilidad}}</p>
                </div>
                <a href="#" class="icon align-self-start">
                    <fa-icon [icon]="borrar"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
<app-add-button></app-add-button>
